@font-face {
	font-family: Montserrat;
	src: url(../assets/fonts/Montserrat-Regular.ttf);
}

:root{
	margin: 0;
	padding: 0;
}

.form__block{
	width: 808px;
	height: 351px;
	display: flex;
	background: #FBF7F6;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	z-index: 2;
	overflow: hidden;
}

input{
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	background-color: #FBF7F6; }

.form__block-text{
	display: block;
	width: 404px;
	margin-left: 40px;
}
.form__block-pic{
	display: block;
	position: relative;
	background-image: url(../assets/images/form1.svg);
	height: 351px;
	width: 405px;
	z-index: 1;
}
.form__block-text h2{
	display: block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.04em;
	height: 54px;
	width: 324px;
	text-align: left;
	color: #371030
}
#name,#phone,#email,#commentary{
	display: inline-block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.04em;
	color: #371030;
}
#name{
	margin: 0;
	padding: 0;
	margin-right: 36px;
	margin-bottom: 21px;
	width: 144px;
}
#phone{
	margin: 0;
	padding: 0;
	width: 144px;
}

#email, #commentary{
	margin-bottom: 21px;
	width: 324px;
}

.form-example1 button{
	width: 324px;
	height: 55px;
	background: #FFB0BA;
	box-shadow: 3px 3px 0px 3px #DE8E98;
	border-radius: 100px;
	border: none;
	color: #9A3C48;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.04em;
}
.form-example1 button:hover{
	background: #FC9FAB;
}

.form-example1 button:active{
	background: #FE95A2;
}